function Deck.new 3
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 52
call Array.new 1
pop this 0
push constant 0
pop this 1
push constant 12345
pop this 2
push constant 0
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 4
lt
not
if-goto WHILE_END0
push constant 1
pop local 1
label WHILE_EXP1
push local 1
push constant 14
lt
not
if-goto WHILE_END1
push local 0
push this 0
add
push local 1
push local 2
call Card.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Deck.shuffle 1
pop temp 0
push pointer 0
return
function Deck.nextRandom 0
push argument 0
pop pointer 0
push this 2
push constant 20251
add
pop this 2
push this 2
push constant 31
call Math.multiply 2
pop this 2
push this 2
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
neg
pop this 2
label IF_FALSE0
push this 2
return
function Deck.shuffle 3
push argument 0
pop pointer 0
push constant 51
pop local 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push pointer 0
call Deck.nextRandom 1
pop local 1
push local 1
push local 1
push local 0
push constant 1
add
call Math.divide 2
push local 0
push constant 1
add
call Math.multiply 2
sub
pop local 1
push local 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
neg
pop local 1
label IF_FALSE0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 2
push local 0
push this 0
add
push local 1
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push this 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Deck.draw 1
push argument 0
pop pointer 0
push this 1
push constant 52
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push this 1
push constant 1
add
pop this 1
push local 0
return
label IF_FALSE0
push constant 0
return
function Deck.reset 0
push argument 0
pop pointer 0
push constant 0
pop this 1
push pointer 0
call Deck.shuffle 1
pop temp 0
push constant 0
return
function Deck.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 52
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Card.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
